* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
}

.container {
    width: 100%;
    /* background: yellow; */
    background: #b13227;
    opacity: 0.9;
}

/* header css start */
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 5vw;
    background-color: #b13227;
    color: white;
    box-shadow: 1vw 2vw 5vw 0vw #77221b;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 1.3vw;
}

.hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

ul.nested-ul {
    margin-left: 2vw;
    display: flex;
    gap: 1vw;
}

.x,
.youtube,
.insta,
.facebook {
    font-size: 2vw;
}

/* hero sec css start */
.hero-sec {
    width: 100%;
    padding: 5vw 0vw;
    position: relative;
}

.hero-sec-inner {
    width: 90vw;
    height: 50vw;
    margin-left: 5vw;
    display: flex;
    background: url('../images/header\ background\ img.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .hero-sec-top {
    display: flex;
    flex-direction: row;
    align-items: center;    
} */
.img-hero {
    margin-left: 12vw;
}

.head-hero h1 {
    color: #ffa600;
    font-size: 16vw;
    z-index: 1;
    position: absolute;
    top: 12vw;
}

.img-hero img {
    width: 60vw;
    position: absolute;
    top: 0vw;
    left: 20vw;
}

.hero-txt-up p {
    color: white;
    position: absolute;
    top: 17vw;
    right: 5vw;
    width: 25vw;
    font-size: 2.5vw;
}

.head-btm h1 {
    color: #ffa600;
    font-size: 16vw;
    z-index: 1;
    position: absolute;
    top: 30vw;
    right: 5vw;
}

.hero-sec-btm {
    position: absolute;
    top: 50vw;
    display: flex;
    align-items: center;
    gap: 2vw;
    color: white;
}

.hero-sec-btm i {
    font-size: 3vw;
}

.hero-sec-btm h2 {
    font-size: 3vw;
}

/* sec 1 css start */
.sec-1 {
    width: 100%;

}

.sec-1-inner {
    background: white;
    padding: 1vw 0vw;
}

.marquee {
    width: max-content;
    display: flex;
    align-items: center;
    gap: 2vw;
    animation: scroll-left 30s linear infinite;
    padding: 1vw 0vw;
}

.marquee img {
    width: 5vw;
}

.marquee h6 {
    font-size: 2vw;

}

@keyframes scroll-left {
    0% {
        transform: translatex(0%);
    }

    100% {
        transform: translatex(-50%);
    }
}

/* sec 2 css start */
.sec-2 {
    width: 100%;
    padding: 5vw 7vw;
    background: #f2eadf;
}

.sec-2-inner {
    display: flex;
    gap: 6vw;
}

.s2l {
    width: 40vw;
    padding-top: 5vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.s2l h6 {
    font-size: 1.6vw;
    font-weight: 700;
}

.s2l h1 {
    font-size: 3.6vw;
}

.s2l p {
    font-size: 1.6vw;
    text-align: justify;
}

.s2r {
    width: 40vw;
    position: relative;
}

.s2r img {
    width: 40vw;
    height: 50vw;

}

.txt-bt {
    margin-top: 5vw;
}

.s2r .img-bt {
    width: 17vw;
    height: 17vw;
    /* background: red; */
    position: absolute;
    top: 47vw;
    right: 28vw;
}

.img-bt-txt {
    position: absolute;
    top: 75vw;
    font-size: 1.6vw;
    text-align: justify;
}

/* sec 3 css start */
.sec-3 {
    width: 100%;
    padding: 5vw 5vw;
    background: #fff;
}

.sec-3-inner {
    text-align: center;
}

.sec-3-inner h6 {
    font-size: 1.6vw;

}

.sec-3-inner h2 {
    font-size: 3vw;
    margin-top: 1vw;
}

.s3-flex-box {
    width: 80vw;
    /* background: red; */
    display: flex;
    gap: 2vw;
    margin: 5vw 0vw 0vw 5vw;
}

.s3-box {
    width: 18vw;
    background: #f2f2f2;
    padding: 1vw;
}

.s3-box h3 {
    font-size: 1.6vw;
}

.s3-box p {
    font-size: 1.3vw;
}

.s3-box img {
    width: 12vw;
}

/* sec 4 css start */
.sec-4 {
    width: 100%;
    background: white;
}

.sec-4-inner {
    height: auto;
}

.s4it {
    width: 90vw;
    margin: auto;
    color: #cb2f22;
}

.s4it h1 {
    font-size: 13vw;
    text-align: center;
}

.s4ib {
    width: 100%;
    background: #cb2f22;
    /* position: relative; */
    margin-top: -4vw;
    padding-top: 0vw;
}

.s4-flex-box {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    padding: 5vw 0vw;
}

.s4-box {
    width: 20.7vw;
    background: blue;
    display: flex;
    flex-direction: column;
    padding: 2vw;
}

.s4-box-img {
    width: 20.7vw;
    background: blue;
    display: flex;
    flex-direction: column;
}

.clr-wht {
    background: white;
}

.s4-box h3 {
    font-size: 1.8vw;
}

.s4-box p {
    margin: 4vw 0vw 2vw 0vw;
    font-size: 1.3vw;
}

.s4b-btn {
    color: black;
    font-weight: 600;
    font-size: 1.6vw;
}

.s4b-btn:hover {
    color: #888585;
}

.s4-box-img img {
    width: 100%;
}

/* sec 5 css start */
.sec-5 {
    width: 100%;
    margin: 5vw 0vw;
}

.sec-5-inner {
    width: 80vw;
    margin: auto;
}

.s5-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.sec-5-inner h1 {
    width: 50vw;
    font-size: 3vw;
}

.sec-5-inner .para {
    width: 50%;
    text-align: justify;
    font-size: 1.5vw;
    line-height: 2vw;
    margin-top: 13vw;
}

.s5-flex-box {
    /* background: white; */
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    margin-top: 5vw;
}

.s5-box {
    width: 39vw;
    height: auto;
    /* background: yellow; */
    display: flex;
    align-items: center;
    gap: 2vw;
}

.s5b-img img {
    width: 8vw;
    padding: 2vw 0;
}

.s5b-tp {
    width: 28vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.s5b-text {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.s5b-text h4 {
    font-size: 1.5vw;
    font-weight: 700;
    color: white;
}

.s5b-text p {
    color: white;
    font-size: 1.2vw;

}

.brdr {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.s5b-price {
    width: 4vw;
    font-size: 1.5vw;
    color: #97cc41;
}

.s5-btn {
    display: flex;
    justify-content: center;

}

.s5-btn a {
    padding: 1.5vw 1vw;
    background: #ffb300;
    color: white;
}

/* sec 6 css start */
.sec-6 {
    width: 80vw;
    margin: 5vw auto;
    /* background: blue; */
    padding: 1vw;
}

.s6-flex-box {
    display: flex;
    width: 80vw;
    gap: 1vw;
}

.s6-box {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: green; */
    /* width: 100%; */
}

.s6-box img {
    width: 100%;
    opacity: 0.3;
}

.s6-box img:hover {
    opacity: 1;
}

/* sec 7 css start */
.sec-7 {
    width: 100%;
    padding: 5vw 0vw;
}

.sec-7-inner {
    width: 90vw;
    margin-left: 5vw;
    display: flex;
    gap: 2.5vw;
}

.sec-7-left {
    width: 43vw;
    height: 44vw;
    background-image: url('../images/burger\ box.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 4vw;
}

.sec-7-left h2 {
    font-size: 4.5vw;
    color: white;
    z-index: 1;
}

.sec-7-left img {
    width: 10vw;
    margin-top: -22vw;
    margin-left: 29vw;
}

.sec-7-left h4 {
    font-size: 1.4vw;
    color: white;
}




.sec-7-right {
    width: 43vw;
    height: 44vw;
    background-image: url('../images/nuggets\ box.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 4vw;
}

.sec-7-right h2 {
    font-size: 4.5vw;
    color: white;
    z-index: 1;
    text-align: center;
}

.sec-7-right img {
    width: 16vw;
    margin-top: 5vw;
    margin-left: 29vw;
}

.sec-7-right h4 {
    font-size: 1.4vw;
    color: white;
}

/* sec 8 css start */
.sec-8 {
    width: 100%;
    text-align: center;
}

.sec-8-inner {
    width: 90vw;
    margin-left: 5vw;
    /* background: yellow; */
    padding: 5vw 0vw;
}

.sec-8-inner h2 {
    font-size: 5.9vw;
    font-weight: 700;
    color: white;
}

.s8-flex-box {
    width: 80%;
    margin-top: 2vw;
    margin-left: 10vw;
    display: flex;
    gap: 1vw;
}

.s8-box {
    width: 27vw;
    height: 20vw;
    border: 2px solid white;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.s8b-logo {
    width: 2.5vw;
    height: 2vw;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s8-box i {
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}

.content h3 {
    font-size: 1.6vw;
    color: white;
    text-align: left;
}

.content p {
    font-size: 1.2vw;
    margin-bottom: 2vw;
    color: white;
    text-align: left;
}

.content h4 {
    font-size: 1.4vw;
    color: white;
    text-align: left;
}

/* footer css starts */
footer {
    width: 100%;
    background: #70221a;
    padding: 2vw 5vw;
}

.ftr-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.ftr-top-left img {
    width: 18vw;
}

.ftr-top-left h2 {
    color: white;
    font-size: 3vw;
}

.ftr-top-right {
    width: 35vw;
    display: flex;
    align-items: center;
}

.ftr-top-right h2 {
    font-size: 1.4vw;
}

.ftr-top-right img {
    width: 20vw;
}

.ftr-btwn {
    /* background: yellow; */
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 7vw 0vw;
    display: flex;
    justify-content: space-between;
    color: white;
}

.ftr-btwn-left {
    width: 30vw;
}

.ftr-btwn-left h2 {
    font-size: 1.4vw;
}

.ftr-btwn-right {
    width: 50vw;
    /* background: yellowgreen; */
    display: flex;
    justify-content: space-between;
}

.address {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    /* background: blue; */
    width: 12vw;
}

.address h2 {
    font-size: 1.6vw;
}

.address ul {
    display: flex;
    flex-direction: column;
    gap: 1vw;

}

.address ul li {
    font-size: 1.4vw;
}

.address ul li a {
    color: white;
}

.address ul li a:hover {
    color: #ffa600;
}

.number {
    font-size: 1.5vw;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.links h2 {
    font-size: 1.6vw;
}

.links ul {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.links ul li {
    font-size: 1.2vw;
}

.links ul li a {
    color: white;
}

.links ul li a:hover {
    color: #ffa600;
}

.social-link {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.social-link h2 {
    font-size: 1.6vw;
}

.social-link ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.social-link ul li {
    width: 3vw;
    height: 3vw;
    font-size: 1.4vw;
    border: 1px solid white;
    padding: 1vw;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-link ul li i {
    color: white;
}

.social-link ul li i:hover {
    color: #ffa600;
}


.footer-btom {
    display: flex;
    justify-content: space-between;
    /* background: green; */
    color: white;
    margin-top: 2vw;
}

.cr p {
    font-size: 1.4vw;
}

.make p {
    font-size: 1.4vw;
}





/* inner pages css start */

/* about us page css start */

.inner-page-container {
    background: #f2eadf;
}

/* about us header css start */
.inner-black {
    color: black !important;
}

.inner-black:hover {
    color: #ffa600 !important;
}

.inner-black a i {
    color: black !important;
}

.inner-black a i:hover {
    color: #ffa600 !important;
}

.header {
    box-shadow: none;
    border-bottom: 1px solid black;
}

/* about us sec 1 css start */
.sec-1-au {
    width: 100%;
    padding-top: 10vw;
}

.au-i {
    width: 80vw;
    margin-left: 9.7vw;
    display: flex;
    justify-content: space-between;
}

.au-i-left {
    width: 25vw;
    /* background: yellow; */
}

.au-i-left p {
    font-size: 1.2vw;
    margin-bottom: 1vw;
}

.au-i-left h2 {
    font-size: 3vw;
}

.au-i-right {
    width: 40vw;
    /* background: yellowgreen; */
    margin-top: 4vw;
}

.au-i-right p {
    font-size: 1.2vw;

}

/* about us sec 2 css start */
.sec-2-au {
    width: 100%;
    padding: 5vw 0vw;
}

.sec-au-2i {
    width: 90vw;
    margin-left: 4.7vw;
    /* background: yellow; */
}

.au-flex-box {
    display: flex;
    gap: 4vw;
    align-items: center;
}

.au-fb1 {
    width: 30vw;
    /* background: green; */
}

.au-fb1 img {
    width: 100%;
}

.au-fb2 {
    width: 30vw;
    /* background: greenyellow; */
}

.au-fb2 img {
    width: 100%;
}

/* about us sec 3 css start */
.sec-3-au {
    width: 100%;
    padding: 5vw 0vw;
}

.sec-au-3i {
    width: 80vw;
    margin-left: 9.7vw;
    /* background: yellow; */

}

.sec-au-3i h2 {
    font-size: 3vw;
    text-align: center;
    /* align-items: center; */
    justify-content: center;

}

.sec-au-3i img {
    width: 3vw;
}

/* about us sec 4 css start */
.sec-4-au {
    width: 100%;
    padding-bottom: 5vw;
    /* background-color: red; */
}

.sec-au-4i {
    width: 90vw;
    margin-left: 4.7vw;
    /* background: yellow; */
}

.s4-flx-bx {
    display: flex;
    gap: 2vw;
}

.au4-fbox {
    width: 30vw;
    /* background: green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4vw 0vw;
}

.au4-fbox h2 {
    font-size: 6vw;
}

.au4-fbox p {
    font-weight: 700;
}

/* about us sec 5 css start */
.sec-5-au {
    width: 80%;
    margin-left: 9.7vw;
    /* background: red; */
    padding: 0vw 0vw 5vw 0vw;
}

.s5-au-flex-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2vw;
}

.s5-box1 {
    grid-row: span 2 / span 2;
    /* background: yellow; */
}

.s5-box1-top {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    /* background: yellowgreen; */
}

.s5-box1-top p {
    font-size: 1.4vw;
    font-weight: 500;
}

.s5-box1-btm {
    margin-top: 30vw;
}

.s5-box1 h2 {
    font-size: 2.4vw;
}

.s5-box1 h5 {
    font-size: 1.6vw;
}


.s5-box4 {
    grid-column-start: 2;
}

.s5-box5 {
    grid-column-start: 3;
}

.s5-box2,
.s5-box3,
.s5-box4,
.s5-box5 {
    overflow: hidden;
}

.s5-box2 img,
.s5-box3 img,
.s5-box4 img,
.s5-box5 img {
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.s5-box2:hover img,
.s5-box3:hover img,
.s5-box4:hover img,
.s5-box5:hover img {
    transform: scale(1.03);
}

.s5-box2 h3,
.s5-box3 h3,
.s5-box4 h3,
.s5-box5 h3 {
    font-size: 1.4vw;
}

.s5-box2 p,
.s5-box3 p,
.s5-box4 p,
.s5-box5 p {
    font-size: 1.2vw;
    color: #948e87;
}

.s5-box6 {
    display: flex;
    align-items: center;
    gap: 1vw;
    margin-top: 8vw;
}

.s5-box6 i {
    font-size: 3vw;
}

.s5-box6 h2 {
    font-size: 1.8vw;
}

/* about us sec 6 css start */
.sec-6-au {
    width: 100%;
    background: #b13227;
    padding: 5vw 0;
}

.sec-au-6i {
    width: 90vw;
    margin-left: 4.7vw;
}

.sec-6-au h5 {
    font-size: 1.2vw;
    text-align: center;
    color: white;
    margin-bottom: 1vw;
}

.sec-au-6i h2 {
    font-size: 2.4vw;
    text-align: center;
    color: white;
}

.s6-card-flex-box {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: stretch;
    gap: 2vw;
    margin: 2vw 0vw 5vw 4.7vw;
}

.fb-card {
    width: 18.5vw;
    height: fit-content;
    background: white;
    padding: 2vw;
}

.fb-cardi {
    margin-top: 1vw;

}

.fb-card img {
    width: 5vw;
    border-radius: 50px;
}

.fb-cardi h5 {
    color: black;
    text-align: left !important;
    font-size: 1.4vw;
    margin-bottom: 0.5vw;
}

p.p-top {
    font-size: 1.4vw;
    margin-bottom: 1.5vw;
    color: #8a726b;
}

p.p-btm {
    font-size: 1.6vw;
    color: #8a726b;
}

.review-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: #ffb300;
    width: 14vw;
    height: 5vw;

}

.review-btn a {
    color: white;
    font-size: 1.6vw;
}

/* about us sec 7 css start */
.sec-7-au {
    width: 100%;
    background: #b13227;
    padding: 5vw 0;
}

.sec-au-7i {
    width: 90vw;
    margin-left: 4.7vw;
    /* background: yellowgreen; */
}

.sec-au-7i h5 {
    text-align: center;
    margin-bottom: 3vw;
    color: white;
}

.s7-flex-box {
    /* background: red; */
    display: flex;
    gap: 2vw;
}

.s7-box {
    width: 25vw;
}

.s7-box img {
    width: 100%;
}